.padding{
    padding: 16px !important;
  }
  .margin{
    margin: 16px !important;
  }

  .lado-direito{
    float: right;
    margin-right: 30px;
  }
  .btn-salvar{
    color: #fff;
    background-color: #ea6212;
    border-color: #ea6212;
    margin-top: 10px;
  }
  .btn-cancelar{
    color: #ea6212;
    background-color: #fff;
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn-editar-usuario{
    margin-left: 118px;
    color: #fff;
    background-color: #ea6212;
    border-color: #ea6212;
    margin-top: 10px;
  }
  .btn-editar-veiculo{
    color: #fff;
    background-color: #ea6212;
    border-color: #ea6212;
    margin-top: 10px;
  }
  .tamanho{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    margin-right: 3px;
    margin-left: -6px;
  }
  .btn-position{
    margin-left: 524px;
  }
  .btn-position-veiculo{
    margin-left: 845px;
  }
  .btn-separador{
    margin-right: 20px;
    margin-left: 5px;
  }
  .center-screen {
    position: absolute;
    top: 3%;
    left: 47%;
    padding-top: 100px;
  }
  .teste{
    overflow: hidden;
    padding-top: 10px;
  }

  .addAddress{
    margin-left: 970px;
    margin-top: 25px;
    cursor: pointer;
  }
  .ajuste{
    margin-top: 10px;
  }
  .padding-veiculo{
    padding-right: 40px;
  }
  .tamanho-check{
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
  .addAddress:hover{
    color: #ea6212;
  }
  .marginPanel{
    margin-left: 4px !important;
    margin-right: 4px !important;
  }
  mat-dialog-container.mat-dialog-container {
    margin-top: -2500px !important;
  }