<div class="page-header header-filter header-small header-image" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title">Informaçẽos Veculos</h1>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">



      <mat-tab-group>
        <mat-tab label="Veiculo">
          <app-veiculo></app-veiculo>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>